<!-- https://bootsnipp.com/snippets/4qgR -->
<div class="navbar navbar-expand-md navbar-light bg-light mb-4" role="navigation">
    <a class="navbar-brand" href="#"><img src="img/fablab_noText.svg" style="height:40px"> Fab Lab ULB</a>
    <button class="navbar-toggler" 
        type="button" data-toggle="collapse" 
        data-target="#navbarCollapse" aria-controls="navbarCollapse" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Home.RelPermalink }}">Home</a>
            </li>
            
            {{ range .Site.Home.Pages }}
                {{ if eq .Pages nil }}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>

                {{ else }}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                            id="assignments" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">{{ .Title }}</a>
                        <ul class="dropdown-menu" aria-labelledby="assignments">
                            {{ range .Pages }}
                                <li class="dropdown-item">
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>

                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
