<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
<div class="container">

{{ partial "nav.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<p>This is used only for single pages.</p>

{{ partial "footer.html" . }}

</div>
{{ partial "foot.html" . }}
</body>
</html>
